
    <h1>Create New Doctor</h1>
    <div class="sub-root">
            <form  autocomplete="off" action="/doctor" method="POST">
           <label>Name</label>
           <input type="text" name="name" value="{{doctor.name}}" required>
           
           <label>Email</label>
           <input type="text" name="email" value="{{doctor.email}}" required>
           
           <label>Mobile</label>
           <input type="text" name="password" value="{{doctor.mobile}}" required>
       
           <label>Major</label>
           <input type="text" name="major" value="{{doctor.major}}" required>
           <button class="btn" type="submit">Submit</button>
            </form>

    </div>
