<div class="dashbord">
    <div class="notification">
        <a href=""><img src="/image/notification.png" alt=""></a>
    </div>
    <div class="img-user">
        <a href=""><img src="/image/profile.png" alt=""></a>
    </div>
    <div class="home-page">
        <a href=""><img src="/image/home1.png" alt=""></a>
    </div>
    <div class="appointment">
        <a href=""><img src="/image/032.png" alt=""></a>
    </div>
</div>