<!DOCTYPE html>
<html>
    <head>
        <title>Node.js express mongoDB CRUD</title>
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/{{style}}">
    </head>
    <body> 
        {{{body}}}
    </body>
</html>