
   <div class="sub-root">
        <div class="logo-side">
            <img src="/image/image.PNG" >
        </div>      
    <form>
            <h1>Doctor Appointments Dashboard</h1>
            <input type="text" placeholder="Username " name="uname" class="information" required>
            <input type="password" placeholder="Password" name="psw"  class="information" required>
            <button class="btn" type="submit">SIGN IN</button>
            <label>
                <input  type="checkbox" checked="checked" name="remember"> Remember me
            </label>
    </form>
</div>

