
<div class="root">
        <div class="sub-root">
    <form>
        <div>
           <img src="/image/image.PNG" >
        </div>
        <div class="content">
            <input type="text" placeholder="Username " name="uname" class="information" required>
            <input type="password" placeholder="Password" name="psw"  class="information" required>
            <button class="btn" type="submit">SIGN IN</button>
            <label>
                <input  type="checkbox" checked="checked" name="remember"> Remember me
            </label>
        </div>
    </form>
</div>
</div>
