<div>
    <div class="notification">
        <a href=""><img src="../img/021.png" alt=""></a>
    </div>
    <div class="img-user">
        <a href=""><img src="../img/Photo.png" alt=""></a>
    </div>
</div>
<div>
    <div class="home-page">
        <a href=""><img src="../img/001.png" alt=""></a>
    </div>
    <div class="appointment">
        <a href=""><img src="../img/032.png" alt=""></a>
    </div>
</div>