

   

    .root {
        width: 60%;
        height: 50%;
        background: linear-gradient(110deg, DEEPPINK 40%, LIME 40%);
    }

h3 {
    display: flex;
    justify-content: center;
}
.img {
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
}