.root {
    position: relative;
    top: 75px;
    background-color: #729d93;
    width: 70%;
    height: 75%;
}
.sub-root {
       display: flex;
       justify-content: center;
       width: 80%;
       height: 100%;
       position: relative;
       margin: auto;
       background: linear-gradient(110deg, #1c5660 45%,#ffba32 40%);
       form {
          img {
            position: relative;
            margin: auto;
            right: 281px;
            top: 82px;
          }
          .content {
            position: relative;
            left: 175px;
            top: -215px;
            height: 50%;
            border: none;
            border-radius: 10px;
            background-color: #fff;
            width: 100%;
            padding: 8px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            .information {
                position: relative;
                height: 15%;
                margin: 10px;
                left: 0;
                right: 0;
                text-align: center;
                border-radius: 4px;
            }
            button {
                color: #fff;
                font-family: sans-serif;
                font-weight: bold;
                height: 15%;
                position: relative;
                margin: 10px;
                border-radius: 4px;
                border: none;
                text-align: center;
                background-color: #1a545c;
            }
        }
       }
    }
